
  <main style="min-height: 100%">
    <nav class="teal lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="main-header" href="#">Carenga<span class="hide-on-med-and-down"> - {{ username }}</span></a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="#" (click)="signOut()">Logoff</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="rides">Caronas</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="map">Mapa</a></li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li class="teal lighten-1 white-text"><a href="#">Menu</a></li>
          <li><a routerLink="map" (click)="toggleMenu()">Mapa</a></li>
          <li><a routerLink="rides" (click)="toggleMenu()">Caronas</a></li>
          <li><a routerLink="#" (click)="signOut();toggleMenu()">Logoff</a></li>
        </ul>
        <a (click)="toggleMenu()" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  
      <router-outlet></router-outlet>
      
  </main>
  