#welcome-message{
  display: block;
  text-align: center;
}
#login-card{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#login-card-content{
  max-width: 25rem;
  padding: 32px 48px 0px 48px;
  border: 1px solid #EEE;
  margin-left: auto;
  margin-right: auto;
  display: block;
}